.grid{
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 800px;
  height: 675px;
  margin: 20px auto 0;
  justify-content: center;
  background-color: navy;
  padding: 30px;
}

#message {
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 150;
}

.cell {
  border:5px solid black;
  background-color: white;
  border-radius: 100%;
  outline: 5px solid black;
}

.HoverClass1:hover {
  color:red;
  background-color: red;
}

.HoverClass2:hover {
  color: yellow;
  background-color: yellow;
}

body {
  --body-bg: #8a8b9b;
  --header-bg: #0023be;
  --inverted-btn-text-color: white;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  align-items: center;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Rubik Scribble', system-ui;
}

h1 {
  background-color: var(--header-bg);
  font-family: var(--serif);
  font-size: 95px;
  font-weight: bold;
  margin: 0 0 12px 0;
  padding: 12px;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 30px;
  color: white;
}

#light-dark-button {
  background-color: var(--light-dark-btn-bg);
  background-image: var(--light-dark-btn-bg);
  font-family: 'Rubik Doodle Triangles', system-ui;
  font-size: 25px;
  font-weight: 100;
}

#light-dark-button::after {
  color: var(--inverted-btn-text-color);
  content: var(--light-dark-btn-content);
}

body.dark {
  --body-bg: #22232b;
  --header-bg: #005e9d;
  --inverted-btn-text-color: #2a2a2a;
  --light-dark-btn-bg: linear-gradient(to right top, #444655, #595b6b, #6f7181,
  #868898, #9ea0b0, #acaebe, #bbbccd, #cacbdc, #d2d4e5, #dadced, #e3e5f6, #ebeeff);
  --light-dark-btn-content: "Light Mode";
  background-color: var(--body-bg);
}

#reset-button {
  margin-top: 50px;
  border-radius: 7px;
  font-size: 2vmin;
  padding: 8px 12px;
  font-family: 'Rubik Scribble', system-ui;;
  font-weight: bolder;
}

